@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
  local("Gilroy-ExtraBold"),
  url("../font/gilroy/gilroyextrabold.woff2") format("woff2"),
  url("../font/gilroy/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"),
  local("Gilroy-Light"),
  url("../font/gilroy/gilroylight.woff2") format("woff2"),
  url("../font/gilroy/gilroylight.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  box-sizing: content-box;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;

  text-transform: none;
}

.button {
  position: relative;

  display: inline-block;
  padding: 8px 44px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.button::before {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  z-index: -1;

  height: 8px;

  background-color: #f0c52e;

  content: "";
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, .3);
}

/** Шапка **/
.main-header {
  position: relative;

  min-height: 300px;
  margin-top: 40px;

  background-color: #f7e296;
}

.main-header-top,
.main-header-middle,
.main-header-bottom {
  padding-left: 60px;
  padding-right: 60px;
}

/* Шапка верхний блок*/
.main-header-top {
  position: relative;

  display: flex;
  margin-bottom: 32px;
}

.main-header-top .logo {
  position: absolute;
  top: -20px;
}

.logo {
  width: 170px;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: .6;
}

.logo[href]:active {
  opacity: .3;
}

.logo-img {}

/* Шапка средний блок*/
.main-header-middle {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.search-form {
  position: relative;

  display: flex;
  width: 440px;
  height: 49px;
}

.search-form::before {
  position: absolute;
  top: 17px;
  left: 2px;

  width: 16px;
  height: 16px;

  background-image: url("../img/svg/search.svg");
  background-repeat: no-repeat;

  content: "";
}

.search-form-input {
  width: 440px;
  padding: 0 20px 0 37px;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, .3);

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;

  outline: none;
}

.search-form-input:hover,
.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, .6);
}

.search-form-input:focus,
.search-form-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form-input:focus {
  border-bottom-color: #000;
}

.search-form button {
  width: 102px;

  background-color: transparent;
  border: 2px solid #000;

  outline: none;
  visibility: hidden;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:active {
  color: #fff;
  background-color: #000;

  visibility: visible;
}

.search-form button:active {
  color: rgba(255, 255, 255, .3);
}

.search-form-input:focus + button {
  visibility: visible;
}

.user-navigation {
  display: flex;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-left: auto;

  list-style: none;
}

.user-navigation-item {
  margin-right: 35px;
  color: #000;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.user-navigation-item.right-side {
  margin-left: auto;
}

.user-navigation-link {
  position: relative;

  padding-left: 27px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  opacity: .6;
}

.user-navigation-link:active {
  opacity: .3;
}

.user-navigation-link::before {
  position: absolute;
  top: 5px;
  left: 0;

  width: 13px;
  height: 12px;

  background-repeat: no-repeat;

  content: "";
}

.user-navigation-link.icon-in::before {
  background-image: url("../img/svg/user.svg");
}

.user-navigation-link.icon-compare::before {
  top: 7px;
  left: 4px;
  background-image: url("../img/svg/compare.svg");
}

.user-navigation-link.icon-cart::before {
  left: 4px;
  background-image: url("../img/svg/cart.svg");
}

.user-navigation-svg {
  position: absolute;
  top: 4px;
  left: 0;
}

/* Шапка нижний блок*/
.main-header-bottom {
  box-sizing: border-box;
}

.main-navigation {}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;

  list-style: none;
}

.site-navigation-item {
  margin-right: 38px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.main-header-bottom .site-navigation-item:first-child {
  width: 255px;
  margin-right: 290px;
}

.main-header-bottom .site-navigation-item:last-child {
  margin-left: auto;
}

.site-navigation-link {
  letter-spacing: 3.5px;
  color: #000;
  text-decoration: none;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: rgba(0, 0, 0, .6);
}

.site-navigation-link:active {
  color: rgba(0, 0, 0, .3);
}

.site-navigation-link.icon-plus {
  position: relative;
  padding-right: 32px;
}

.site-navigation-link.icon-plus::after {
  position: absolute;
  top: 3px;
  right: 2px;

  width: 16px;
  height: 16px;

  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;

  opacity: .3;

  content: "";
}

.site-navigation-item .sub-menu {
  position: absolute;
  left: 0;
  z-index: 3;

  display: none;
  width: 100%;
  margin: 0;
  padding: 21px 60px 36px;

  background-color: #f7e296;

  list-style: none;
}

.site-navigation-item:hover .sub-menu,
.site-navigation-link.icon-plus:focus + .sub-menu {
  display: flex;
}

.site-navigation-item .sub-menu-item {
  display: flex;
  flex-direction: column;
  margin-right: 63px;
}

.site-navigation-item .sub-menu-item:last-child {
  margin-right: 0;
}

.site-navigation-item .sub-menu-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000;

  text-decoration: none;
  text-transform: none;
}

.site-navigation-item .sub-menu-link:hover,
.site-navigation-item .sub-menu-link:focus {
  color: rgba(0, 0, 0, .6);
}

.site-navigation-item .sub-menu-link:active {
  color: rgba(0, 0, 0, .3);
}


/** Основной контент **/
.main-content {
  position: relative;
  z-index: 2;

  flex-grow: 1;
  margin-top: -110px;
}

/** Слайдшоу товаров **/
.slider {
  position: relative;
  margin-bottom: 104px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item.active {
  display: flex;
}

.slider-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  min-height: 460px;
  margin-right: 40px;

  text-align: center;
}

.slider-img img {}

.slider-content {
  position: relative;

  width: 500px;
  padding-top: 80px;
}

.slider-content::before,
.slider-content::after {
  position: absolute;
  z-index: -1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 1;
  font-weight: 800;
  color: #fff;
}

.slider-content::before {
  top: -16px;
  right: -11px;
}

.slider-item:nth-child(1) .slider-content::before {
  content: "01";
}

.slider-item:nth-child(2) .slider-content::before {
  content: "02";
}

.slider-item:nth-child(3) .slider-content::before {
  content: "03";
}

.slider-content::after {
  top: 35px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #fff;

  content: "";
}

.slider-title {
  margin: 0;
  margin-bottom: 16px;

  line-height: 56px;
}

.slider-text {
  margin: 0;
  margin-bottom: 44px;
}

.slider-button {
  margin-bottom: 48px;
}

.slider-features {
  color: #000;
  border-collapse: collapse;
}

.slider-features th {
  padding-top: 7px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.slider-features td {
  width: 156px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.slider-features td:nth-child(2) {
  width: 138px;
}

.control {
  position: absolute;
  right: 102px;
  bottom: 140px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.control-item {
  margin-right: 21px;
}

.control-item:last-child {
  margin-right: 0;
}

.control-item.active {}

.control-button {
  position: relative;

  display: block;
  width: 11px;
  height: 11px;
  padding: 0;

  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;

  cursor: pointer;
}

.control-item.active .control-button::before {
  position: absolute;
  left: 3px;
  top: 3px;

  width: 3px;
  height: 3px;

  border: 1px solid #000;
  border-radius: 50%;

  content: ""
}


/** Категории товаров **/
.category {
  margin-bottom: 80px;
}

.category-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-item {
  margin-right: 40px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.category-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f7e296;
}

.category-link.monopod .category-img {
  align-items: flex-end;
}

.category-link:hover .category-img,
.category-link:focus .category-img {
  background-color: #f0c52e;
}

.category-link:active svg {
  opacity: .3;
}

.category-title {
  margin: 0;
  font: inherit;
}

.category-link.monopod .category-title {
  padding-right: 35px;
}


/** Сервисы **/
.service {
  min-height: 388px;
  margin-bottom: 95px;

  background: linear-gradient(to bottom, #fff 25%, #e5e5e5 25%);
}

.service .container {
  display: flex;
}

.service-menu {
  position: relative;
  z-index: 0;

  width: 277px;
  min-height: 320px;
  margin: 0;
  margin-right: 118px;
  padding: 0;

  border-right: 7px solid #000;

  list-style: none;
}

.service-menu-item {
  margin-bottom: 25px;
}

.service-menu-item:first-child {
  margin-top: 80px;
}

.service-menu-item:last-child {
  margin-bottom: 0;
}

.service-menu-item.active {}

.service-menu-link {
  position: relative;

  display: inline-block;
  min-width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.service-menu-link:before {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  z-index: -1;

  height: 7px;

  background-color: #f0c52e;

  content: "";
}

.service-menu-link:hover,
.service-menu-link:focus {
  background-color: #f0c52e;
}

.service-menu-item.active .service-menu-link,
.service-menu-link:active {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 29px 8px 40px;

  color: #f0c52e;
  text-align: left;

  background-color: #000;
}

.service-content {
  width: 760px;
  margin: 0;
  margin-top: 74px;
  padding: 0;

  list-style: none;
}

.service-content-item {
  position: relative;
  display: none;
  padding-right: 300px;
}

.service-content-item.active {
  display: block;
}

.service-content-item::after {
  position: absolute;
  top: 0;
  right: 65px;

  background-repeat: no-repeat;
  content: "";
}

.service-content-item.delivery::after {
  top: 12px;

  width: 136px;
  height: 164px;

  background-image: url("../img/svg/delivery.svg");
}

.service-content-item.warranty::after {
  right: 46px;
  top: -13px;

  width: 171px;
  height: 195px;

  background-image: url("../img/svg/warranty.svg");
}

.service-content-item.credit::after {
  top: -13px;
  right: 71px;

  width: 156px;
  height: 188px;

  background-image: url("../img/svg/credit.svg");
}

.service-content-item p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;

  text-transform: none;
}


/** Бренды **/
.brands {
  margin-bottom: 85px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  width: 260px;
}

.brands-link {}

.brands-link img {
  width: 260px;
  height: 100px;

  filter: grayscale(100%);
}

.brands-link:hover img,
.brands-link:focus img {
  filter: grayscale(0);
}


/** Информация о компании **/
.about {
  display: flex;
  margin-bottom: 82px;
}

.about .page-title {
  margin-bottom: 44px;
  padding-top: 50px;
}

.about-info {
  position: relative;
  width: 478px;
}

.about-info p {
  margin: 0;
  margin-bottom: 28px;
}

.about-info ul {
  margin: 68px 0;
  margin-bottom: 53px;
  padding: 0;

  list-style: none;
}

.about-info li {
  position: relative;

  padding-left: 35px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000;
}

.about-info li::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;

  content: "";
}

.about-info .button {
  padding-left: 25px;
  padding-right: 25px;
}

.about-contact {
  position: relative;

  width: 560px;
  margin-left: auto;
}

.about-contact p {
  margin: 0;
  margin-bottom: 39px;
}

.about-contact img {
  margin-bottom: 45px;
}

.about-map {
  display: block;
  margin-bottom: 15px;
}

.about-info::after,
.about-contact::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000;

  content: "";
}


/** Подвал **/
.main-footer {
  padding: 63px 0;
  color: #fff;
  background-color: #464646;
}

.main-footer .container {}

.main-footer p {
  margin: 0;

  color: #fff;
}

/* Подвал верх*/
.main-footer-top {
  display: flex;
  margin-bottom: 23px;
}

.main-footer-top .logo-img {
  fill: #ffc600;
}

.main-footer-top .user-navigation {
  width: auto;
}

.main-footer-top .user-navigation-item {
  margin-right: 41px;
}

.main-footer-top .user-navigation-item:last-child {
  margin-right: 0;
}

.main-footer-top .user-navigation-item:first-child .user-navigation-link {
  padding-left: 26px;
}

.main-footer-top .user-navigation-link {
  padding-left: 23px;
  color: #fff;
}

/* Подвал центр */
.main-footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.main-footer-middle .site-navigation {
  width: 440px;
}

.main-footer-middle .site-navigation-item {
  margin-right: 23px;
}

.main-footer-middle .site-navigation-link {
  color: #fff;
}

.main-footer-middle .site-navigation-link:hover,
.main-footer-middle .site-navigation-link:focus {
  color: rgba(255, 255, 255, .6);
}

.main-footer-middle .site-navigation-link:active {
  color: rgba(255, 255, 255, .3);
}

/* Подвал низ */
.main-footer-bottom {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.main-footer-bottom::after {
  position: absolute;
  top: 15px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;

  content: "";
}

/* Социальные кнопки */
.social {
  display: flex;
  margin: 0;
  margin-left: 510px;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 22px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  opacity: .3;
}

.social-link:hover,
.social-link:focus {
  opacity: .6;
}

.social-link:active {
  opacity: .1;
}

.social-link.icon-fb {
  background-image: url("../img/svg/fb.svg");
}

.social-link.icon-ins {
  background-image: url("../img/svg/instagram.svg");
}

.social-link.icon-tw {
  background-image: url("../img/svg/twitter.svg");
}

.main-footer-bottom .copyright {
  width: 27px;
  height: 35px;
  margin-left: auto;
}

.copyright a {
  display: block;
  width: 27px;
  height: 34px;

  background-image: url("../img/svg/logo-html.svg");
  background-repeat: no-repeat;
}

.copyright a:hover,
.copyright a:focus {
  opacity: .6;
}

.copyright a:active {
  opacity: .3;
}


/** Контент каталог товаров **/
.flex-wrapper .page-title {
  margin: 0;

  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
}

/* Хлебные крошки */
.breadcrum {
  margin-bottom: 60px;
}

.breadcrum-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrum-item {
  margin-right: 40px;
}

.breadcrum-item,
.breadcrum-link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, .3);
}

.breadcrum-link {}

.breadcrum-link:hover,
.breadcrum-link:focus {
  color: rgba(0, 0, 0, .6);
}

.breadcrum-link:active {
  color: rgba(0, 0, 0, .1);
}

/* Фильтр */
.filter {
  width: 328px;
  padding-bottom: 80px;

  background-color: #eee;
}

.filter .page-title {
  margin-bottom: 70px;
  padding: 25px 68px 25px 60px;

  background-color: #dcdcdc;
}

.filter-form {
  padding-left: 60px;
  padding-right: 68px;
}

.filter-box {
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.filter-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}

.filter-item {}
.filter-item input[type="checkbox"] {}
.filter-item input[type="radio"] {}
.filter-item label {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

.filter-button {
  width: 100%;
}


/* Сортировка */

.sort {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  padding: 25px 0 25px 72px;
  background-color: #ebebeb;
}

.sort .page-title {}

.sort-list {
  display: flex;
  width: 560px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.sort-item {
  margin-right: 30px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item.right {
  margin-left: auto;
}

.sort-link {
  color: rgba(0, 0, 0, .3);
}

.sort-link:hover,
.sort-link:focus {
  color: rgba(0, 0, 0, .6);
}

.sort-link:active,
.sort-item.active .sort-link {
  color: #000;
}


/** Каталог **/
.catalog {

}

/* Карточки товара */
.catalog-content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 72px;
}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 70px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-add .compare {
 font-family: "Open Sans", Arial, sans-serif;
 font-size: 13px;
 line-height: 36px;
 font-weight: 300;
 color: rgba(0, 0, 0, .5);
}

.catalog-add .compare:hover,
.catalog-add .compare:focus {
  color: #000;
}

.catalog-add .compare:active {
  color: rgba(0, 0, 0, .2);;
}

.catalog-info {
  display: flex;
  justify-content: space-between;
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  line-height: 24px;
  font-weight: 300;
  color: #000;
}

.catalog-link {
  width: 260px;

  font-size: 18px;
  font-weight: 800;
  color: #000;
}

.catalog-link:hover,
.catalog-link:focus {
  text-decoration: underline;
}

.catalog-link:active {
  text-decoration: none;
}

.catalog-price {
  font-size: 16px;
  color: #464646;
}

/* Пагинация */
.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 90px;
  padding: 0;

  background-color: #ebebeb;

  list-style: none;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:first-child + .pagination-item {
  margin-left: auto;
}

.pagination-item:nth-last-child(2) {
  margin-right: auto;
}

.pagination-link {
  display: block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, .3);

  text-transform: uppercase;
}

.pagination-link:hover,
.pagination-link:focus {
  color: rgba(0, 0, 0, .6);
}

.pagination-link:active,
.pagination-link.active {
  color: #000;
}

.pagination-link.back,
.pagination-link.next {
  padding: 20px 30px;
}

.pagination-link[href].back,
.pagination-link[href].next {
  color: #000;
}

.pagination-link[href].back:hover,
.pagination-link[href].next:hover,
.pagination-link[href].back:focus,
.pagination-link[href].next:focus {
  background-color: #d9d9d9;
}

.pagination-link[href].back:active,
.pagination-link[href].next:active {
  color: rgba(0, 0, 0, .3);
}


/** Модальные окна **/
.modal {
  width: 960px;
  margin: 0 auto;

  box-shadow: 0 0 20px rgba(4, 6, 6, .2);
}

/* Обратная связь */
.modal-contact {
  padding: 80px 50px;
}

.modal-contact-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-contact-item {
  width: 360px;
}

.modal-contact-item:first-child {
  margin-right: 40px;
}

.modal-contact-item.wide {
  width: 760px;
}

.modal-contact-item input[type="text"],
.modal-contact-item textarea {
  width: 100%;
  padding: 15px 20px;

  border: none;
  background-color: #f2f2f2
}

.modal-contact-item textarea {
  height: 150px;
}

.modal-contact-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}
